{% extends 'themes/base_admin.html.twig' %}

{% block title %}Tableau de bord{% endblock %}

{% block description %}Tableau de bord{% endblock %}

{% block keywords %}Admin, Tableau-de-bord{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Espace admin<hr></h1>

    <p class="text-center fw-bold">Hello {{ app.user.firstName }}</p>
{% endblock %}